@keyframes fadeInAndUp {
  0% {
    top: 100px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.about {
  .about-quote {
    margin: 0 auto;

    @media (min-width: $breakpoint-lg) {
      width: 75%;
      margin: 15% auto 8%;
    }

    @media (min-width: $breakpoint-xlg) {
      width: 50%;
    }

    h2 {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 26px, 85px);
      font-family: 'DidotLTPro-Roman';
      font-weight: normal;
      text-align: center;
      line-height: 1.19;
      letter-spacing: -0.2px;
      margin-top: 100px;
      padding: 0 50px;
      color: $grey-brown;

      @media (min-width: $breakpoint-lg) {
        letter-spacing: 2px;
      }

      &:before {
        content: open-quote;
      }

      &:after {
        content: close-quote;
      }

      span {
        font-family: 'DidotLTPro-Italic';
      }
    }
  }

  // Big first letter
  .about-body-text {
    margin-top: 70px;
    padding: 0 50px;

    @media (min-width: $breakpoint-md) {
      columns: 2;
      column-gap: 7%;
    }

    @media (min-width: $breakpoint-lg) {
      margin: 0 14%;
    }

    p {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 14px, 18px);
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 2;
      letter-spacing: 0.7px;
      color: $grey-brown;

      &:first-of-type {
        margin-top: 0;

        &:first-letter {
          @include fluid-type($breakpoint-sm, $breakpoint-xlg, 116px, 170px);
          font-family: 'DidotLTPro-Italic';
          line-height: 0.5;
          float: left;
          margin: 0.3em 18px 0;
        }
      }

      a {
        color: $grey-brown;
      }
    }

    img {
      width: 38%;
    }
  }

  .about-contact {
    margin: 100px 0;
    padding: 200px 13%;
    display: flex;
    flex-direction: column;
    background: $off-white;

    @media (min-width: $breakpoint-md) {
      padding: 70px 30%;
    }

    @media (min-width: $breakpoint-lg) {
      padding: 70px 38%;
      margin-top: 100px;
    }

    @media (min-width: $breakpoint-xlg) {
      padding: 80px 38%;
    }

    h2 {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 28px, 48px);
      font-family: 'DidotLTPro-Roman';
      font-weight: normal;
      text-align: center;
      margin: 0 auto;
      color: $grey-brown;
    }

    hr {
      width: 43%;
      border: solid 0.5px $warm-grey;
      margin: 35px auto;

      @media (min-width: $breakpoint-lg) {
        width: 25%;
        margin: 75px auto;
      }

      @media (min-width: $breakpoint-xlg) {
        width: 12%;
      }
    }

    a {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 11px, 15px);
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 900;
      line-height: 0.97;
      letter-spacing: 1.8px;
      color: $grey-brown;
      max-width: 236px;
      margin: 0 auto;
      border: 1px solid $grey-brown;
      background: transparent;
      padding: 23px 40px;

      @media (min-width: $breakpoint-lg) {
        letter-spacing: 2.4px;
      }
    }
  }

  .about-press-title {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 26px, 85px);
    font-family: 'DidotLTPro-Roman';
    font-weight: normal;
    text-align: center;
    line-height: 1.19;
    letter-spacing: -0.2px;
    margin-top: 100px;
    padding: 0 50px;
    color: $grey-brown;
  }

  .about-press {
    padding: 0 50px;

    @media (min-width: $breakpoint-md) {
      padding: 0;
      margin: 0 8%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    .press-item {
      margin: 50px 0 40px;
      transition: 3.5s top cubic-bezier(0.31, 0.96, 0.34, 0.96), 2s opacity cubic-bezier(0.31, 0.96, 0.34, 0.96);
      animation: fadeInAndUp 500ms ease-out;

      @media (min-width: $breakpoint-md) {
        width: 35%;
        display: inline-block;
        padding: 0;
        margin: 0 0 80px;

        &:nth-child(2) {
          position: relative;
          width: 44%;
        }

        &:nth-child(3) {
          width: 52%;
          margin-left: 11%;
          margin-right: 11%;
        }
      }

      @media (min-width: $breakpoint-lg) {
        margin: 0;
        position: relative;
        margin: 50px 0;

        &:nth-child(2) {
          margin: 0;
        }

        &:nth-child(3) {
          width: 64%;
          margin: 0 0 50px 18%;
        }

      }

      .press-image {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .press-logo {
        width: 200px;
        margin: 15px 0;
      }

      .press-brief {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 11px, 16px);
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 0.5px;
        width: 75%;
      }

      .see-more {
        display: inline-block;
        margin: 15px 0;
        font-size: 9px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        text-decoration: none;
        letter-spacing: 1.1px;
        border: 1px solid $grey-brown;
        padding: 8px 16px;
        color: $grey-brown;

        @media (min-width: $breakpoint-lg) {
          padding: 14px 30px;
        }
      }
    }
  }
}
