@keyframes fadeInAndUp {
  0% {
    top: 100px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.featured-article {
  position: relative;
}

.featured-image {
  margin: 30px 0;
  padding: 0 5%;

  img {
    width: 100%;
  }

  @media (min-width: $breakpoint-md) {
    margin: 60px 0 30px;
  }

  @media (min-width: $breakpoint-lg) {
    margin: 60px 2%;
    padding: 0;
  }

  .image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 5% 1.1%;
    background-color: rgba(0,0,0,.15);

    @media (min-width: $breakpoint-lg) {
      margin: 0 2% 0.3%;
      padding: 0;
    }
  }
}

.featured-title {
  position: absolute;
  bottom: 0;
  left: 5%;
  margin: 0;
  padding: 0 130px 25px 25px;

  @media (min-width: $breakpoint-md) {
    width: 45%;
    padding: 0 130px 40px 40px;
  }

  a {
    text-decoration: none;
  }

  h2 {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 46px, 70px);
    font-family: 'DidotLTPro-Roman';
    font-weight: normal;
    color: $white;
    margin: 16px 0;
  }

  .article-category {
    span {
      color: $white;
    }

    hr {
      border: 0.5px solid $white;
    }
  }

  .see-more {
    font-size: 9px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 1.1px;
    border: 1px solid $white;
    padding: 8px 16px;
    color: $white;
    display: inline-block;

    @media (min-width: $breakpoint-lg) {
      padding: 14px 30px;
    }
  }
}

.article-category {
  display: flex;
  align-items: center;

  hr {
    width: 75px;
    border: 0.5px solid $grey-brown;
  }

  span {
    flex-grow: 1;
    margin-left: 20px;
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 10px, 14px);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: $grey-brown;
    text-transform: uppercase;
    letter-spacing: 0.8px;
  }
}

.category-filter {
  @include fluid-type($breakpoint-sm, $breakpoint-xlg, 12px, 16px);
  font-family: 'Roboto', sans-serif;
  color: $grey-brown;
  border-bottom: 1px solid $greyish;
  margin: 0 5% 30px;
  padding: 0 0 10px;

  @media (min-width: $breakpoint-md) {
    margin: 0 8% 30px;
    padding: 0 0 20px;
  }

  @media (min-width: $breakpoint-lg) {
    display: flex;
    margin: 0;
    padding: 0 8%;
    border: none;
  }

  .category-filter-title {
    display: flex;
    margin: 0 0 10px;
    font-weight: 500;

    @media (min-width: $breakpoint-md) {
      margin: 0 0 20px;
    }

    @media (min-width: $breakpoint-lg) {
      flex: 1;
      margin: 1px 0 30px;
    }

    span {
      margin: 0 25px 0 25px;

      @media (min-width: $breakpoint-lg) {
        margin-right: 32px;
      }
    }
  }

  hr {
    flex: 1;
    height: 1px;
    border: none;
    background: $greyish;

    @media (min-width: $breakpoint-lg) {

      &:first-of-type {
        display: none;
      }
    }
  }

  .category-list {
    display: flex;
    font-weight: 500;
    letter-spacing: 1.2px;
    color: #cecece;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: $breakpoint-lg) {
      margin-left: 32px;
      justify-content: space-between;
    }

    .category {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 12px, 12px);
      letter-spacing: 2.1px;
      cursor: pointer;
      text-transform: uppercase;
      margin: 10px 0;
      color: #dadada;
      transition: 200ms color ease;


      @media (min-width: $breakpoint-lg) {
        margin: 0;
      }

      &:after {
        color: $greyish;
        content: '/';
        margin: 0 5px;

        @media (min-width: $breakpoint-md) {
          margin: 0 10px;
        }

        @media (min-width: $breakpoint-lg) {
          margin: 0 30px;
        }
      }

      &:last-child:after {
        color: $greyish;
        content: '';
        margin: 0;
      }

      &.active {
        color: $grey-brown;
      }

      &:hover {
        color: $grey-brown;
      }
    }
  }
}

.articles {
  padding-top: 75px;

  @media (min-width: $breakpoint-md) {
    padding-top: 58px;
  }

  // Loading animations
  position: relative;
  top: 40px;
  opacity: 0;
  transition: 500ms all ease-out;

  &.animate {
    opacity: 1;
    top: 0;
  }

  .articles-feed {
    padding: 0 50px;

    @media (min-width: $breakpoint-md) {
      padding: 0;
      margin: 0 8%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }

    .article {
      margin: 50px 0 40px;
      transition: 3.5s top cubic-bezier(0.31, 0.96, 0.34, 0.96), 2s opacity cubic-bezier(0.31, 0.96, 0.34, 0.96);
      animation: fadeInAndUp 500ms ease-out;

      @media (min-width: $breakpoint-md) {
        width: 35%;
        display: inline-block;
        padding: 0;
        margin: 0 0 80px;

        &:nth-child(2) {
          position: relative;
          width: 44%;
        }

        &:nth-child(3) {
          width: 52%;
          margin-left: 11%;
          margin-right: 11%;
        }
      }

      @media (min-width: $breakpoint-lg) {
        margin: 0;
        position: relative;
        margin: 75px 0;

        &:nth-child(2) {
          margin: 0;
        }

        &:nth-child(3) {
          width: 64%;
          margin: 0 0 100px 18%;
        }

      }

      .article-image {
        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .article-category {
        margin: 20px 0 10px;
      }

      .article-title {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 21px, 38px);
        font-family: 'DidotLTPro-Roman';
        font-weight: normal;
        color: $grey-brown;
        margin: 10px 0;
        width: 67%;
      }

      .article-brief {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 11px, 16px);
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        line-height: 1.6;
        letter-spacing: 0.5px;
        margin: 0 0 20px;
        width: 60%;

        @media (min-width: $breakpoint-lg) {
          margin: 0 0 35px;
        }
      }

      .see-more {
        font-size: 9px;
        font-family: 'Roboto', sans-serif;
        font-weight: 900;
        text-decoration: none;
        letter-spacing: 1.1px;
        border: 1px solid $grey-brown;
        padding: 8px 16px;
        color: $grey-brown;

        @media (min-width: $breakpoint-lg) {
          padding: 14px 30px;
        }
      }
    }

    .no-articles {
      position: relative;
      margin: 30% 0;
      animation: fadeInAndUp 500ms ease-out;

      @media (min-width: $breakpoint-md) {
        margin: 7% 0 0;
      }

      h2 {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 24px, 38px);
        font-family: 'DidotLTPro-Italic';
        font-weight: normal;
        color: $grey-brown;
        margin: 0;
        text-align: center;
      }
    }
  }

  .search-box {
    display: flex;
    flex-direction: column;
    padding: 10% 50px;
    margin: 10% 5%;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;

    @media (min-width: $breakpoint-lg) {
      padding: 4% 4%;
      margin: 7% 8% 3%;
      flex-direction: row;
      align-items: center;
    }

    @media (min-width: $breakpoint-xlg) {
      padding: 4% 15%;
    }

    hr {
      width: 100%;
      height: 0;
      margin: 50px 0;

      @media (min-width: $breakpoint-md) {
        width: 20%;
        height: 0;
        margin: 50px auto;
      }

      @media (min-width: $breakpoint-lg) {
        width: 100%;
        height: 0;
        margin: 50px 0;
      }
    }

    h3 {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 24px, 38px);
      font-family: 'DidotLTPro-Bold';
      font-weight: normal;
      color: $dark-grey-blue;
      margin: 0;
      text-align: center;

      @media (min-width: $breakpoint-md) {
        min-width: 300px;
        text-align: left;
        margin: 0 auto;
      }

      @media (min-width: $breakpoint-lg) {
        min-width: 300px;
        text-align: left;
        margin: 0 45px 0 0;
      }

      @media (min-width: $breakpoint-xlg) {
        margin: 0 10% 0 0;
      }
    }

    .tags {
      @media (min-width: $breakpoint-md) {
        min-width: 405px;
        margin: 0 0 0 45px;
      }

      @media (min-width: $breakpoint-xlg) {
        margin: 0 0 0 10%;
      }

      .tags-title {
        display: block;
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 6px, 11px);
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: $grey-brown;
      }

      .tags-list {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 14px, 17px);
        font-family: 'Roboto';
        font-weight: 400;
        color: #4f4f4f;
        line-height: 1.8;
        letter-spacing: 0.7px;
        margin: 10px 0;
        text-transform: uppercase;
        display: block;
        text-align: center;

        @media (min-width: $breakpoint-md) {
          margin: 0;
          display: flex;
          text-align: center;
          flex-wrap: wrap;
          justify-content: center;
        }

        .tag {
          &:after {
            content: '/';
            margin: 0 15px;
          }

          &:last-child:after {
            content: '';
          }
        }
      }

      .tags-search {
        display: flex;
        justify-content: center;
        align-items: center;

        @media (min-width: $breakpoint-md) {
          margin-top: 35px;
        }

        .or-try {
          @include fluid-type($breakpoint-sm, $breakpoint-xlg, 10px, 16px);
          font-family: 'Roboto';
          font-style: italic;
          color: $grey-brown;
        }

        .search-box-button {
          background: transparent;
          color: $grey-brown;
          border: 1px solid $grey-brown;
          padding: 10px 25px;
          margin: 0 10px;
          cursor: pointer;

          &:focus {
            outline: none;
          }
        }
      }
    }
  }

  .load-more {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 8px, 14px);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: $grey;
    cursor: pointer;
    letter-spacing: 1.3px;
    display: block;
    text-align: center;
    margin: 100px;

    &:hover svg {
      top: 5px;
    }

    svg {
      position: relative;
      display: block;
      margin: 5px auto;
      font-size: 30px;
      transition: 200ms top ease-out;
      top: 0;
    }
  }
}