.article-list {
  background: $off-white;
  padding: 90px 75px;
  margin-top: 5%;

  @media (min-width: $breakpoint-lg) {
    padding: 5% 20%;
  }

  .title {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 30px, 65px);
    margin: 0 0 60px;
    font-family: 'DidotLTPro-Roman';
    font-weight: 400;
    text-align: center;
    letter-spacing: -0.2px;
    margin: 50px 50px 60px 0;
    text-align: left;
  }

  .article-list-items {
    @media (min-width: $breakpoint-md) {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-gap: 25px 50px;
    }
  }

  .list-item {
    margin: 0 0 40px;

    .item-number {
      display: none;
    }

    &.numbered {
      .item-number {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 27px, 45px);
        display: block;
        margin: 14px 30px;
        font-style: italic;
        letter-spacing: 3.9px;
      }

      .item-heading {
        display: inline;
      }

      hr {
        display: inline-block;
        vertical-align: middle;
        margin-left: 18px;
      }
    }
  }

  .item-heading {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 21px, 30px);
    margin: 0;
    font-family: 'DidotLTPro-Bold';
    font-weight: 500;
    line-height: 1.28;
  }

  hr {
    width: 53px;
    margin: 20px 0;
    border: 1px solid;
  }

  .item-content {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 15px, 18px);
    color: $brown-grey;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.8px;
  }
}

// NEW ARTICLE LIST
.article-new-list {
// .numbered-stacked, .not-numbered-stacked, .numbered-alternating, .not-numbered-alternating
  .item-number {
    font-size: 27px;
    font-family: 'DidotLTPro-Bold';
    font-weight: normal;
    display: block;
    margin: 15px 0;
    font-style: italic;
    letter-spacing: 3.9px;

    @media screen and (min-width: 414px) {
      font-size: calc(27px + 18 * ((100vw - 414px) / 2146));
    }
  }
  .numbered-stacked img, .not-numbered-stacked img{
    width: 100%;
  }
  .numbered-alternating, .not-numbered-alternating {
    padding: 0 3.5%;
    margin: 60px 0;

    .new-item-text {
      margin: 0 25px;
    }
    .item-heading {
      font-family: 'DidotLTPro-Bold';
      font-weight: 500;
      line-height: 1.28;
      font-size: 21px;
    }
    .new-item-content p {
      font-weight: 300;
      font-size: 15px;
      line-height: 2;
      letter-spacing: 0.7px;
    }

    @media screen and (min-width: 414px) {
      .item-heading {
        font-size: calc(21px + 19 * ((100vw - 414px) / 2146));
      }
      .new-item-content p {
        font-size: calc(15px + 3 * ((100vw - 414px) / 2146));
      }
    }

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-evenly;
    }
    @media (min-width: 1100px) {
      max-width: 1200px;
      margin: 140px auto;

      img {
        flex: 0 1 550px;
      }
      .new-item-text {
        flex: 0 1 400px;
      }
    }
  }
}

@media (min-width: 768px) {
  .left-right > div:nth-child(even) .new-item-text {
    order: -1;
  }
  .right-left > div:nth-child(odd) .new-item-text {
    order: -1;
  }
}
