.article-places {
  .article-map-marker {
    display: flex;
    align-items: center;
    color: $red;
    line-height: 24px;
    white-space: nowrap;
    position: relative;
    right: 20px;
    bottom: 10px;
    cursor: grab;

    svg {
      color: #4379b5;
      font-size: 25px;
    }

    .title, .number {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 11px, 15px);
      margin: 0;
      color: $brown-grey;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      letter-spacing: 0.5px;
    }

    .title {
      margin: 0 5px;
      opacity: 0;
      transition: 400ms all ease;
      background: white;
      padding: 2px 5px;
      top: -1px;
      position: relative;
    }

    &:hover {
      .title {
        opacity: 1;
      }
    }
  }

  .title {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 30px, 65px);
    text-align: center;
    margin: 70px 100px;
    font-family: 'DidotLTPro-Bold';
    font-weight: 500;
    line-height: 1.27;
    letter-spacing: -0.2px;

    @media (min-width: $breakpoint-lg) {
      margin: 200px 400px 50px;
    }
  }

  .place {
    padding: 0 3.5%;
    margin: 60px 0;

    @media (min-width: $breakpoint-md) {
      display: flex;
      justify-content: space-evenly;

      &:nth-child(odd) .place-description {
        order: -1;
      }
    }

    @media (min-width: $breakpoint-lg) {
      max-width: 1200px;
      margin: 140px auto;
    }

    .place-image {
      @media (min-width: $breakpoint-lg) {
        flex: 0 1 550px;
      }

      img {
        width: 100%;
      }
    }

    .place-description {
      margin: 0 25px;

      @media (min-width: $breakpoint-lg) {
        flex: 0 1 400px;
      }
    }

    .number {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 27px, 45px);
      font-family: 'DidotLTPro-Bold';
      font-weight: normal;
      display: block;
      margin: 15px 0px;
      font-style: italic;
      letter-spacing: 3.9px;
    }

    .place-title {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 21px, 40px);
      margin: 0;
      font-family: 'DidotLTPro-Bold';
      font-weight: 500;
      line-height: 1.28;
    }

    .brief {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 15px, 18px);
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      line-height: 2;
      letter-spacing: 0.7px;
    }

    .address, .instagram, .website, .link {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 11px, 15px);
      display: flex;
      align-items: center;
      margin: 14px 0;
      color: $brown-grey;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      letter-spacing: 2.2px;

        svg {
          margin-right: 25px;
          font-size: 18px;
        }

        a {
          color: $brown-grey;
        }
    }

    .address svg {
      color: $red;
    }

    .link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 10px;
      display: flex;
      align-items: center;
      margin-top: 25px;

      svg {
        margin-left: 10px;
      }
    }
  }
}