.article-container {
  padding-top: 100px;

  @media (min-width: $breakpoint-md) {
    padding-top: 180px;
  }

  // Loading animations
  position: relative;
  top: 40px;
  opacity: 0;
  transition: 500ms all ease-out;

  &.animate {
    opacity: 1;
    top: 0;
  }

  .article-title {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 52px, 94px);
    max-width: 741px;
    margin: auto 30px;
    text-align: center;
    font-family: 'DidotLTPro-Roman';
    font-weight: 500;
    letter-spacing: -0.7px;
    line-height: 1.4;

    @media (min-width: $breakpoint-md) {
      margin: auto 124px;
      line-height: 0.9;
    }

    @media (min-width: $breakpoint-lg) {
      margin: auto;
      letter-spacing: -1.3px;
    }
  }

  .title-rule {
    width: 35px;
    border: solid 1px $black;
    background: $black;

    @media (min-width: $breakpoint-md) {
      margin: 20px auto;
    }
  }

  .article-subheader {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 15px, 25px);
    color: $grey;
    font-family: 'DidotLTPro-Italic';
    text-align: center;
    font-weight: 500;
    margin-top: 19px;
  }

  .hero-map {
    position: relative;
    margin: 60px 0 110px;

    .hero-map-image {
      img {
        width: 100%;
      }

      @media (min-width: $breakpoint-lg) {
        margin: 0 10%;
      }

      @media (min-width: $breakpoint-xlg) {
        margin: 0 15%;
      }
    }

    .hero-map-map {
      margin: 20px 0;

      .article-map-marker {
        display: flex;
        align-items: center;
        color: $red;
        line-height: 24px;
        white-space: nowrap;
        position: relative;
        right: 20px;
        bottom: 10px;

        svg {
          font-size: 25px;
        }

        h3 {
          display: none;
        }
      }
    }

    .hero-map-lower {
      @media (min-width: $breakpoint-md) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 3.5%;
        padding: 40px;
      }

      @media (min-width: $breakpoint-md) {
        margin: 0;
        padding: 40px 0;
      }

      @media (min-width: $breakpoint-lg) {
        margin: 0 10%;
        padding: 40px 0;
      }
    }

    .hero-map-info {
      padding: 20px 7%;

      @media (min-width: $breakpoint-md) {
        flex: 1;
        padding: 20px 0 20px 20px;
      }

      @media (min-width: $breakpoint-lg) {
        padding: 20px 0px 20px 40px;
      }
    }

    .hero-map-info-item {
      border-top: 1px solid $warm-grey;
      display: flex;
      align-items: center;

      @media (min-width: $breakpoint-md) {
        padding-right: 10px;
      }

      @media (min-width: $breakpoint-lg) {
        padding-right: 0;
      }

      &:last-child {
        border-bottom: 1px solid $warm-grey;
      }

      &.address {
        svg {
          font-size: 20px;
        }
      }

      .info-title {
        display: flex;
        align-items: center;
        flex: 0 0 50%;

        h3 {
          margin: 23px 0 13px 15px;
          @include fluid-type($breakpoint-sm, $breakpoint-xlg, 16px, 24px);
          font-family: 'DidotLTPro-Bold';
          font-weight: normal;
          color: $warm-grey;

          @media (min-width: $breakpoint-md) {
            margin: 23px 0 13px 20px;
          }
        }
      }

      span {
        max-width: 50%;
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 11px, 14px);
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        letter-spacing: 2.2px;
        color: $grey-brown;
        word-wrap: break-word;

        a {
          text-decoration: none;
          color: $grey-brown;
        }
      }
    }

    .hero-map-background {
      position: absolute;
      width: 100%;
      height: 68%;
      background: #fafafa;
      bottom: 0;
      z-index: -1;
    }
  }

  .hero-image {
    position: relative;
    margin: 30px 3.5% 60px;

    img {
      width: 100%;
    }

    @media (min-width: $breakpoint-md) {
      margin: 60px 3.5% 110px;
    }

    @media (min-width: $breakpoint-lg) {
      margin: 60px 10% 110px;
    }

    @media (min-width: $breakpoint-xlg) {
      margin: 60px 15%;
    }

    .image-caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 0 1.1%;
      background-color: rgba(0,0,0,.3);
      opacity: 0;
      transition: 300ms opacity ease-out;

      @media (min-width: $breakpoint-md) {
        margin: 0 0 0.5%;
      }

      @media (min-width: $breakpoint-lg) {
        margin: 0 0 0.3%;
        padding: 0;
      }

      &:hover {
        opacity: 1;
      }

      h3 {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 25px, 65px);
        font-family: 'DidotLTPro-Italic';
        font-weight: normal;
        letter-spacing: 0.8px;
        text-align: center;
        margin: 14% 0;
      }

      a {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 9px, 14px);
        color: white;
        text-decoration: none;
        border: 1px solid white;
        padding: 11px 18px;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1.5px;

        @media (min-width: $breakpoint-md) {
          font-weight: 500;
          letter-spacing: 2px;
          padding: 15px 25px;
        }
      }
    }
  }

  .byline {
    @media (min-width: $breakpoint-md) {
      float: left;
    }

    @media (min-width: $breakpoint-lg) {
      padding-left: 10%;
    }

    @media (min-width: $breakpoint-xlg) {
      padding-left: 15%;
    }
  }

  .article-categories {
    padding: 0 42px;
    width: 75px;
    color: $grey-brown;

    @media (min-width: $breakpoint-lg) {
      padding: 0;
    }

    .categories-rule {
      width: 70px;
      color: $black;
      border: solid 0.5px $black;
      margin: 0 0 10px;
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .article-category {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 12px, 14px);
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      line-height: 1.3;
    }
  }

  .author {
    padding: 0 42px;
    margin: 0 0 70px;

    @media (min-width: $breakpoint-lg) {
      padding: 0;
    }

    .author-written {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 11px, 13px);
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      line-height: 0.97;
      letter-spacing: 1.8px;
      color:$grey;
      text-transform: uppercase;
      margin: 10px 0 3px;
    }

    .author-name {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 15px, 16px);
      margin: 0;
      font-family: 'DidotLTPro-BoldItalic';
      letter-spacing: 0.3px;
      color: $dark-grey-blue;
    }
  }

  .body-text {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 15px, 18px);
    max-width: 1060px;
    padding: 0 10%;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 0.7px;
    margin: 5% auto;

    @media (min-width: $breakpoint-md) {
      padding: 0 20%;
    }

    @media (min-width: $breakpoint-lg) {
      padding: 0 23%;
    }

    a {
      color: $grey-brown;
    }
  }

  .pullquote {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 26px, 55px);
    font-family: 'DidotLTPro-Roman';
    float: right;
    width: 50%;
    padding: 10px 0 10px 40px;
    line-height: 1.25;
    letter-spacing: -0.2px;
    margin: 0;

    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }

    @media (min-width: $breakpoint-md) {
      width: 60%;
      margin-right: -25%;
    }

    @media (min-width: $breakpoint-xlg) {
      width: 70%;
    }
  }

  // Big first letter
  .body-one {
    @media (min-width: $breakpoint-md) {
      margin-top: 150px;
    }

    p:first-of-type:first-letter {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 126px, 206px);
      font-family: 'DidotLTPro-Italic';
      line-height: 0.5;
      float: left;
      margin-right: 10px;
    }
  }

  .image-link {
    position: relative;
    padding: 0 3.5%;
    margin: 100px 0;

    @media (min-width: $breakpoint-md) {
      padding: 0 10%;
    }

    @media (min-width: $breakpoint-lg) {
      padding: 0 25%;
    }

    img {
      width: 100%;
    }

    .image-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 3.5% 1%;
      background-color: rgba(0,0,0,.3);

      @media (min-width: $breakpoint-md) {
        margin: 0 10% 0.5%;
      }

      @media (min-width: $breakpoint-lg) {
        margin: 0 25% 0.3%;
        padding: 0;
      }
    }

    .image-link-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 45%;
      width: 45%;
      text-align: center;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;

      h3 {
        font-size: 27px;
        font-family: 'DidotLTPro-Italic';
        color: $white;
        font-weight: normal;
      }

      a {
        align-self: center;
        font-size: 9px;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        text-decoration: none;
        color: $white;
        border: 1px solid $white;
        padding: 14px 39px;
      }
    }
  }
}

.body-text p img {
  max-width: 100%;
}
.numbered-alternating img {
  max-width: 100%;
}

.article-newsletter {
  max-width: 1720px;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 7%;

  .form-content {
    height: 400px;
    background: #e9e9e9 url('./../images/B3Lhscce.jpg') no-repeat right;
    background-size: cover;
    display: flex;
    align-items: center;

    .newsletter-form {
      width: 45%;
      padding-left: 10%;

      h2 {
        margin: 0;
        font-size: 25px;
        font-family: 'DidotLTPro-Roman';
        letter-spacing: 0.5px;
        font-weight: 400;
        line-height: 1.3;

        @media screen and (min-width: 414px) {
          font-size: calc(24px + 4 * ((100vw - 414px) / 2146));
        }
      }
      p {
        margin-bottom: 40px;
        font-size: 15px;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1.6px;

        @media screen and (min-width: 414px) {
          font-size: calc(12px + 4 * ((100vw - 414px) / 2146));
        }
      }
      form {
        display: flex;
      }
      input {
        width: 75%;
        height: 60px;
        border: 1px solid #d0d0d0;
        box-sizing: border-box;
        outline: none;
        padding: 5px;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
      }
      button {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.7px;
        display: block;
        width: 75%;
        text-align: center;
        padding: 0;
        background: black;
        color: $white;
        height: 60px;
        border: none;
        cursor: pointer;

        @media (min-width: 414px) {
          flex-basis: 28%;
        }
      }
      .duplicate-error {
        font-family: 'Roboto', sans-serif;
        font-size: 8px;
        letter-spacing: 0.5px;
        position: relative;
        top: 5px;
        display: none;

        &.active {
          display: block;
        }

        @media screen and (min-width: 414px) {
          font-size: calc(8px + 4 * ((100vw - 414px) / 2146));
        }
      }

      @media (max-width: 600px) {
        width: auto;
        padding: 0;

        h2 {
          width: 40%;
        }
        p {
          width: 50%;
        }
      }
    }

    @media (max-width: 991px) {
      height: 280px;
    }
    @media (max-width: 600px) {
      justify-content: center;
    }
    @media (max-width: 500px) {
      height: auto;
      background: #e9e9e9;

      .newsletter-form {
        h2, p {
          width: auto;
          text-align: center;
        }
        h2 {
          margin-top: 20px;
          @media (min-height: 700px) {
            font-size: 35px;
          }
        }
        p {
          margin: 18px 20px;
        }
        form {
          flex-direction: column;
          align-items: center;

          input {
            height: 40px;
            text-align: center;
          }
          button {
            margin: 0 0 20px 0;
            height: 40px;
          }
        }
        .duplicate-error {
          top: unset;
          text-align: center;
          margin-bottom: 10px;
          font-size: 12px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    padding: 0 3.5%;
  }
  @media (min-width: 1100px) {
    padding: 0 10%;
  }
}