.city-places {
  display: flex;
  flex-direction: column;
  height: 48vh;
  background: $beige;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
    justify-content: space-around;
    height: 26vh;
    padding: 0;
  }

  @media (min-width: $breakpoint-lg) {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    left: 50%;
    width: auto;
    min-width: 55%;
    height: 33%;
    min-height: 250px;
  }

  @media (min-width: $breakpoint-xlg) {
    height: 27%;
  }

  .city-places-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    min-height: 39px;

    @media (min-width: $breakpoint-md) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: start;
      flex-basis: 25%;
      border: none;
      padding: 2%;
    }

    .city-title {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 25px, 42px);
      font-family: 'DidotLTPro-Bold';
      font-weight: normal;
      line-height: 1.2;
      color: $grey-brown;
      margin: 0;

      @media (min-width: $breakpoint-md) {
        margin: 0 0 10px;
      }
    }

    .city-index {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 26px, 30px);
      font-family: 'DidotLTPro-Bold';
      color: $grey-brown;

      .initial-number {
        color: $red;
      }
    }
  }

  .city-mobile-nav {
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;

    .city-nav {
      fill: #b8b8b8;
      cursor: pointer;
      width: 14px;
    }
  }

  .city-fullsize-nav {
    display: flex;
    align-items: center;
    padding: 15px;

    svg {
      height: 32px;
      fill: $greyish;
      cursor: pointer;
    }
  }

  .focussed-marker {
    flex-basis: 75%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

    @media (min-width: $breakpoint-md) {
      padding: 0;
    }

    .focussed-marker-image {
      width: 50%;

      @media (min-width: 900px) {
        width: 75%;
      }

      @media (min-width: 1400px) {
        width: 50%;
      }

      img {
        width: 100%;
        transition: 300ms opacity ease-out;
      }
    }

    .focussed-marker-info {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      position: relative;

      @media (min-width: $breakpoint-md) {
        padding: 4% 0 4% 4%;
        width: 50%;
      }

      h3 {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 16px, 25px);
        font-family: 'DidotLTPro-Bold';
        color: $grey-brown;
        margin: 10px 0;
        font-weight: normal;
        line-height: 0.9;
      }

      .address, .instagram, .website, .hours {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 9px, 13px);
        margin: 6px 0;
        color: $grey-brown;
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        letter-spacing: 1.2px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        word-break: break-word;

        @media (min-width: $breakpoint-md) {
          margin: 5px 0;
        }

          svg {
            margin-right: 17px;
            width: 17px;
            height: 17px;
            min-width: 17px;
            min-height: 17px;
            fill: black;
          }

          a {
            text-decoration: none;
            color: $grey-brown;
            display: flex;
            align-items: center;
          }
      }

      .hours svg {
        fill: none;
        stroke: black;
        stroke-width: 5;
      }

      .address .address-section {
        &:after {
          content: ', ',
        }

        &:last-child:after {
          content: '',
        }
      }

      .address svg {
        width: 18px;
        height: 18px;
        min-width: 18px;
        min-height: 18px;
      }

      .article-link {
        position: absolute;
        bottom: 10px;

        @media (min-width: $breakpoint-md) {
          padding: 20px 20px 20px 0;
        }

        a {
          font-family: 'Roboto', sans-serif;
          font-size: 9px;
          font-weight: 900;
          letter-spacing: 1.4px;
          color: $grey-brown;
          text-decoration: none;
          padding: 12px 20px;
          border: 1px solid gray;
        }
      }
    }
  }
}