.footer {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  background: $dark;
  color: $white;
  padding: 56px 27px 21px;

  .footer-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
    }
  }

  .footer-title {
    margin-bottom: 40px;

    svg {
      @include fluid-type($breakpoint-md, $breakpoint-xlg, 45px, 60px);
      fill: $white;
    }
  }

  .newsletter-form {
    @media (min-width: $breakpoint-md) {
      width: 50%;
    }

    @media (min-width: $breakpoint-lg) {
      display: flex;
      width: 48%;
    }

    @media (min-width: $breakpoint-xlg) {
      width: 24%;
    }

    p {
      @include fluid-type($breakpoint-md, $breakpoint-xlg, 18px, 28px);
      margin: 0;
      font-family: 'DidotLTPro-Roman';
      letter-spacing: -0.4px;
      padding: 0 74px 0 0;

      @media (min-width: $breakpoint-md) {
        width: 45%;
      }
    }

    input {
      width: 100%;
      border: none;
      background: $dark;
      border-bottom: 1px solid $white;
      height: 40px;
      font-family: 'DidotLTPro-Italic';
      font-size: 18px;
      color: $white;
      margin-top: 20px;

      @media (min-width: $breakpoint-lg) {
        margin-top: 0;
      }

      &:focus {
        outline: none;
      }
    }

    form {
      flex: 1;
      width: 100%;
      position: relative;

      button {
        border: none;
        background: transparent;
        color: white;
        position: absolute;
        right: 2px;
        top: 2px;
        margin-top: 20px;
        opacity: 1;
        transition: 500ms all ease-out;

        &:focus {
          outline: none;
        }

        @media (min-width: $breakpoint-lg) {
          margin-top: 0;
        }

        svg {
          width: 35px;
          height: 35px;
          font-size: 35px;
          cursor: pointer;
        }
      }

      .success {
        position: absolute;
        right: -35px;
        top: -3px;
        opacity: 0;
        font-size: 35px;
        transition: 500ms all ease-out;
      }

      &.email-submitted {
        button {
          right: 40px;
          opacity: 0;
        }

        .success {
          right: 2px;
          opacity: 1;
          color: #1fa01f;
        }
      }

      .duplicate-error {
        @include fluid-type($breakpoint-md, $breakpoint-xlg, 8px, 12px);
        font-family: 'Roboto', sans-serif;
        letter-spacing: 0.5px;
        position: relative;
        top: 5px;
        display: none;

        &.active {
          display: block;
        }
      }
    }
  }

  .legal {
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
    letter-spacing: 0.5px;
    color: #474951;
    margin-top: 110px;

    a {
      color: #474951;
    }
  }
}

