.galleries {
  margin: 5% 0;
}

.gallery {
  box-sizing:border-box;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  max-width: 1720px;
  padding: 0 7% 4%;
  margin: auto;

  &:last-child {
    padding-bottom: 0;
  }

  @media (min-width: $breakpoint-md) {
    padding: 0 3.5% 4%;
  }

  @media (min-width: $breakpoint-lg) {
    padding: 0 10% 3%;
  }

  @media (min-width: $breakpoint-xlg) {
    padding: 0 10% 2%;
  }

  img {
    max-width: 100%;
  }

  .gallery-column {
    box-sizing: border-box;

    &:first-child {
      padding-right: 4%;
    }

    &.gallery-column-square {
      display: flex;
      flex-direction: column;
      flex: 0.47620546393050484; // Have to account for the 10% padding below

      img {
        &:first-child {
          padding-bottom: 10%;
        }
      }
    }

    &.gallery-column-quad {
      display: flex;
      flex-direction: column;
      flex: 0.5;

      img {
        &:first-child {
          padding-bottom: 10%;
        }
      }
    }

    &.gallery-column-vertical {
      flex: 0.75;
    }
  }
}

.gallery img {
  width: 100%;
}
.gallery-full-width {
  width: 100%;
  display: flex;
  flex-direction: column;

  img {
    width: 100%;
    padding-bottom: 4%;

    &:last-child {
      padding-bottom: 0;
    }
  }
}