.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0 2%;
  min-height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: $white;
  z-index: 5;
  border-bottom-color: $light-grey;

  @media (min-width: $breakpoint-lg) {
    min-height: 104px;
    border-bottom: 1px solid transparent;
    transition: 400ms all ease;

    &.shrink-header {
      min-height: 60px;
      border-bottom-color: $light-grey;
    }
  }
}

.header-link {
  cursor: pointer;
  text-align: center;
  width: 20%;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: $black;
  padding-top: 5px;
  position: relative;
  left: 10px;

  @media (min-width: $breakpoint-lg) {
    text-align: left;
    left: 0;
  }

  svg {
    @include fluid-type($breakpoint-md, $breakpoint-xlg, 45px, 60px);
  }
}

.header-nav-links {
  display: flex;
  justify-content: center;
  flex: 1;
  position: relative;
  left: 10px;

  &.hide {
    display: none;
  }

  a {
    @include fluid-type($breakpoint-md, $breakpoint-xlg, 12px, 16px);
    margin: 0 5%;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2.1px;
    color: #b8b8b8;
    font-weight: 500;
    cursor: pointer;
  }

  .nav-title {
    transition: 300ms all ease-out;

    &:before, &:after {
      content: '—';
      position: relative;
      opacity: 0;
      transition: 300ms all ease;
    }

    &:before {
      right: 20px;
    }

    &:after {
      left: 20px;
    }

    &:hover, &.current-active-page {
      color: $dark-grey-blue;
    }

    &:hover {
      &:before {
        opacity: 1;
        right: 5px;
      }

      &:after {
        opacity: 1;
        left: 5px;
      }
    }
  }
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  text-align: right;

  &:focus {
    outline: none;
  }

  @media (min-width: $breakpoint-lg) {
    width: 20%;
  }
}

.mobile-takeover {
  position: fixed;
  left: -105vw;
  height: 105vh;
  width: 105vw;
  background: $light-grey;
  z-index: 200;
  overflow: hidden;
  transition: 300ms left ease-in;

  &.show {
    left: 0;
  }

  .mobile-takeover-header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 26px;
    font-family: sans-serif;

    .mobile-takeover-close {
      cursor: pointer;
    }
  }

  .mobile-takeover-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 75vh;
    justify-content: center;

    &.hide {
      display: none;
    }

    a {
      text-decoration: none;
      color: $grey;
      font-family: "Roboto";
      font-size: 21px;
      letter-spacing: 2.4px;
    }
  }
}