@keyframes fadeInAndUp {
  0% {
    top: 500px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.home {
  padding-top: 75px;

  @media (min-width: $breakpoint-md) {
    padding-top: 150px
  }

  .home-gallery {
    position: relative;
    display: flex;
    visibility: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 340vw;
    margin: 0 8%;

    @media (min-width: $breakpoint-md) {
      height: 200vw;
      margin: 0 18%;
      justify-content: space-between;
    }

    @media (min-width: $breakpoint-lg) {
      height: 103vw;
      margin: 0 12% -5%;
    }

    @media (min-width: $breakpoint-xlg) {
      margin: 0 18% -5%;
    }

    &.fadeInAndUp {
      visibility: visible;

      .image-1, .image-4, .image-6 {
        animation: fadeInAndUp 1.5s ease-out;
      }

      .image-3 {
        animation: fadeInAndUp 1.2s ease-out;
      }

      .image-2, .image-5, .image-7 {
        animation: fadeInAndUp 1.8s ease-out;
      }
    }

    img {
      width: 100%;
    }

    .gallery-image {
      position: relative;
      flex-basis: 50%;
    }

    .image-1 {
      flex-basis: 40%;
      margin: 0 5%;
    }

    .image-2 {
      transform: translateY(100px);
    }

    .image-3 {
      flex-basis: 60%;
      margin: 28% 0 0;
    }

    .image-4 {
      flex-basis: 55%;
      margin: 0 25% 0 0;
    }

    .image-6 {
      flex-basis: 35%;
      margin: 0 0 0 9%;
    }

    @media (min-width: $breakpoint-md) {
      .gallery-image {
        position: relative;
        flex-basis: 35%;
      }

      .image-1 {
        flex-basis: 35%;
        margin: 0 5%;
      }

      .image-2 {
        transform: translateY(45px);
      }

      .image-3 {
        flex-basis: 44%;
        margin-top: 0;
        transform: translateY(-10px);
      }

      .image-4 {
        flex-basis: 35%;
        margin: 0 10% 5% 0;
      }

      .image-5 {
        flex-basis: 55%;
        transform: translateX(100px);
      }

      .image-6 {
        flex-basis: 43%;
        margin: 0% 0 0 9%;
      }

      .image-7 {
        flex-basis: 40%;
        transform: none;
      }
    }

    @media (min-width: $breakpoint-lg) {
      .gallery-image {
        position: relative;
        flex-basis: 25%;
      }

      .image-2 {
        transform: translateY(100px);
      }

      .image-3 {
        flex-basis: 33%;
      }

      .image-4 {
        flex-basis: 27%;
        transform: translateY(-116px);
      }

      .image-5 {
        flex-basis: 43%;
        transform: translate(-100px, -30px);
      }

      .image-6 {
        flex-basis: 27%;
        transform: translate(115px , -200px);
        margin: 0;
      }

      .image-7 {
        flex-basis: 33%;
        transform: translate(7px, -145px);
      }
    }
  }

  .hero {
    max-width: 2560px;
    position: relative;

    @media (min-width: $breakpoint-lg) {
      margin: 0 2%;
    }

    h1 {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 39px, 75px);
      position: absolute;
      color: white;
      margin: 50% 17%;
      text-align: center;
      font-family: 'DidotLTPro-Roman';
      font-weight: 500;
      line-height: 1.13;
      letter-spacing: 1px;
      top: 20px;
      opacity: 0;
      transition: 500ms all ease-out;
      z-index: 2;

      @media (min-width: $breakpoint-lg) {
        margin: 23% 24%;
      }
    }

    img {
      width: 100%;
    }

    &.animate {
      h1 {
        opacity: 1;
        top: 0;
      }

      .image-overlay {
        background-color: rgba(0,0,0,.3);
      }
    }

    .image-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 0 1%;
      background-color: rgba(0,0,0,0);
      transition: 500ms all ease-out;

      @media (min-width: $breakpoint-lg) {
        margin: 0 0 0.3%;
        padding: 0;
      }
    }
  }

  .nav {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background: $beige;
    width: 100%;
    margin: -34px auto 50px;
    top: 100px;
    transition: 1000ms all ease-out;

    @media (min-width: $breakpoint-md) {
      justify-content: center;
      max-width: 523px;
      margin: -46px auto 50px;
    }

    @media (min-width: $breakpoint-lg) {
      max-width: 68%;
      margin: -55px auto 8%;
    }

    @media (min-width: $breakpoint-xlg) {
      max-width: 1000px;
      margin: -70px auto 8%;
    }

    &.animate {
      top: 0;
    }
  }

  .nav-item {
    display: flex;
    align-items: center;
    margin: 20px 0;

    @media (min-width: $breakpoint-md) {
      margin: 30px 35px;
    }

    @media (min-width: $breakpoint-lg) {
      margin: 40px 45px;
    }

    @media (min-width: $breakpoint-xlg) {
      margin: 50px 60px;
    }

    a {
      text-decoration: none;
    }

    .nav-link {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 11px, 20px);
      margin: 5px 0;
      color: $greyish;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      letter-spacing: 1.4px;
      transition: 300ms all ease-out;

      @media (min-width: $breakpoint-md) {
        letter-spacing: 2.3px;

          &:before, &:after {
          content: '—';
          position: relative;
          opacity: 0;
          transition: 300ms all ease;
        }

        &:before {
          right: 20px;
        }

        &:after {
          left: 20px;
        }

        &:hover {
          color: $dark-grey-blue;

          &:before {
            opacity: 1;
            right: 5px;
          }

          &:after {
            opacity: 1;
            left: 5px;
          }
        }
      }
    }
  }

  .instafeed-home-container {
    position: relative;
    top: 50px;
    opacity: 0;
    transition: 2.5s top cubic-bezier(0.31, 0.96, 0.34, 0.96), 2s opacity cubic-bezier(0.31, 0.96, 0.34, 0.96);
    padding: 0;

    &.animate {
      top: 0;
      opacity: 1;
    }

    @media (min-width: $breakpoint-md) {
      .instafeed-container {
        margin: 6% auto 0;
        padding: 40px 143px;
      }
    }
  }
}

// Customized styles for homepage articles
.home-article-link {
  text-decoration: none;
}
.article-home {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 4px);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.15);
    //background-color: rgba(120, 120, 120, .3);
    //background-color: rgba(130, 130, 130, .4);
  }
  .content {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: calc(100% - 80px);
    height: calc(100% - 30px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 40px 30px;

    @media (max-width: 1024px) {
      width: calc(100% - 40px);
      height: calc(100% - 20px);
      padding: 0 20px 20px;
    }
    @media (max-width: 425px) {
      width: calc(100% - 30px);
      height: calc(100% - 15px);
      padding: 0 15px 15px;
    }

    // TODO temporary !!!
    .article-title{
      color: $white !important;
    }
    .article-category{
      hr{
        border-color: $white !important;
      }
      span{
        color: $white !important;
      }
    }

  }
  //.article-category {
  //  //margin: 20px 0 10px;
  //  margin: 0;
  //  hr {
  //    border: none;
  //    border-bottom: 0.5px solid #ffff;
  //    width: 22%;
  //    max-width: 60px;
  //  }
  //  span {
  //    color: $white;
  //    margin-left: 2%;
  //    font-size: calc(8px + 4 * ((100vw - 414px) / 2146));
  //    font-weight: 300;
  //  }
  //
  //  @media (max-width: 1024px) {
  //    hr {
  //      width: 20%;
  //    }
  //  }
  //  @media (max-width: 425px) {
  //    span {
  //      font-size: calc(7px + 4 * ((100vw - 414px) / 2146));
  //    }
  //  }
  //}
  //.article-title {
  //  font-family: 'DidotLTPro-Roman';
  //  font-weight: normal;
  //  color: $white;
  //  //margin: 10px 0;
  //  margin: 10px 0 0;
  //  width: 67%;
  //  font-size: 21px;
  //
  //  display: -webkit-box;
  //  -webkit-line-clamp: 3;
  //  -webkit-box-orient: vertical;
  //  -moz-box-orient: vertical;
  //  overflow: hidden;
  //  text-overflow: ellipsis;
  //
  //  @media screen and (min-width: 414px) {
  //    font-size: calc(21px + 17 * ((100vw - 414px) / 2146));
  //  }
  //
  //  @media (max-width: 1024px) {
  //    font-size: calc(20px + 17 * ((100vw - 414px) / 2146));
  //    margin: 0;
  //  }
  //
  //  @media (max-width: 768px) {
  //    width: 100%;
  //    -webkit-line-clamp: 2;
  //  }
  //}
}