.instafeed-container {
  max-width: 100%;
  margin: auto;
  padding: 60px;
  background: $off-white;

  @media (min-width: $breakpoint-lg) {
    padding: 100px 143px;
    margin: 0 auto;
  }
}

.home .instafeed-container, .about .instafeed-container {
  background: $white;
  margin-bottom: 0;
}

.instafeed-title {
  @include fluid-type($breakpoint-sm, $breakpoint-xlg, 15px, 22px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: $brown-grey;
  font-family: 'DidotLTPro-Italic';
  text-decoration: none;
  margin-bottom: 40px;

  svg {
    margin: 0 10px 4px;
  }
}

.instafeed {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 20px;

  @media (min-width: $breakpoint-md) {
    display: flex;
  }

  > div {
    display: none;
  }

  a {
    @media (min-width: $breakpoint-md) {
      margin: 0 15px;
    }
  }

  img {
    width: 100%;
  }

  .instafeed__item__overlay {
    display: none;
  }
}