@import './breakpoints.scss';
@import './palette.scss';
@import './mixins.scss';
@import './header.scss';
@import './footer.scss';
@import './search.scss';
@import './home.scss';
@import './about.scss';
@import './articles.scss';
@import './article.scss';
@import './gallery.scss';
@import './article-list.scss';
@import './article-places.scss';
@import './maps.scss';
@import './city.scss';
@import './instagram.scss';
@import './privacy.scss';
@import './mapbox.css';
@import './newsletter-modal.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,900');
@font-face {font-family: 'DidotLTPro-Roman';src: url('../fonts/35DB22_0_0.eot');src: url('../fonts/35DB22_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/35DB22_0_0.woff2') format('woff2'),url('../fonts/35DB22_0_0.woff') format('woff'),url('../fonts/35DB22_0_0.ttf') format('truetype');}
@font-face {font-family: 'DidotLTPro-Bold';src: url('../fonts/35DB22_1_0.eot');src: url('../fonts/35DB22_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/35DB22_1_0.woff2') format('woff2'),url('../fonts/35DB22_1_0.woff') format('woff'),url('../fonts/35DB22_1_0.ttf') format('truetype');}
@font-face {font-family: 'DidotLTPro-Italic';src: url('../fonts/35DB22_2_0.eot');src: url('../fonts/35DB22_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/35DB22_2_0.woff2') format('woff2'),url('../fonts/35DB22_2_0.woff') format('woff'),url('../fonts/35DB22_2_0.ttf') format('truetype');}
@font-face {font-family: 'DidotLTPro-BoldItalic';src: url('../fonts/35DB22_3_0.eot');src: url('../fonts/35DB22_3_0.eot?#iefix') format('embedded-opentype'),url('../fonts/35DB22_3_0.woff2') format('woff2'),url('../fonts/35DB22_3_0.woff') format('woff'),url('../fonts/35DB22_3_0.ttf') format('truetype');}

body {
  margin: 0;
  color: $grey-brown;
  overflow-x: hidden;
}

.progressive-image {
  transition: 300ms opacity ease-out;
}
