@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mapboxgl-missing-css {
  display: none;
}

.mapboxgl-ctrl {
  position: absolute;
  right: 15px;
  top: 15px;
}

.mapboxgl-ctrl-attrib {
  display: none;
}

.map-cover {
  position: fixed;
  background: white;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  top: -200vh;
  transition: 1.5s top ease-out;

  &.open {
    top: 60px;
  }

  img {
    position: absolute;
    margin: auto;
    width: 100vw;
    height: 100vh;
  }

  .map-links-container {
    position: absolute;
    text-align: center;
    padding: 25% 8%;

    @media (min-width: $breakpoint-md) {
      padding: 6% 30%;
    }

    h3 {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 25px, 45px);
      font-family: 'DidotLTPro-Roman';
      line-height: 1;
      color: $white;
      letter-spacing: 0.8px;
      line-height: 1.2;
      font-weight: normal;
    }

    .map-links {
      @include fluid-type($breakpoint-md, $breakpoint-xlg, 12px, 18px);
      text-decoration: none;
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 2.1px;
      font-weight: 500;
      text-transform: uppercase;
      display: flex;
      margin: 115px auto;
      justify-content: center;

      a {
        color: $white;
        text-decoration: none;
        padding: 35px;

        &:first-child {
          border-right: 1px solid $white;
        }

        svg {
          display: block;
          margin: 0 auto 15px;
        }
      }
    }
  }
}

.map-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding-top: 60px;

  .mapboxgl-marker.focussed {
    z-index: 2;

    &.fullScreenCard {
      position: fixed !important;
      top: 0 !important;
      left: 0 !important;
    }

    svg.map-marker {
      color: $red;
    }
  }

  .map-marker {
    color: $red;
    margin: -40px 0 0 -14px;
    font-size: 28px;

    &:hover {
      animation: bounce 500ms;
    }

    &.city-marker, &.city-place-marker {
      color: #4379b5;
    }

    &.instagram-marker {
      color: #569aa0;
    }

    &.focussed {
      color: $red;
      z-index: 1;
    }
  }
}

.map-toggle-links-container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  align-content: center;
  justify-items: center;

  .map-toggle-links {
    display: flex;
    margin: 15px auto 0;
    padding: 14px;
    background: $white;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

    a {
      display: flex;
    }

    svg {
      cursor: pointer;
      width: 22px;
      height: 22px;;
    }
  }
}

.map-card {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  transition: 500ms all ease-in;

  &.focussed {
    display: flex;
    opacity: 1;
  }

  @media (min-width: $breakpoint-md) {
    position: relative;
    top: -80px;
    left: 24px;
    width: 40vw;
    height: auto;
    z-index: 1;
  }

  @media (min-width: $breakpoint-lg) {
    top: -280px;
    left: 23px;
    width: 23vw;
  }

  &.instagram-map-card {
    @media (min-width: $breakpoint-md) {
      top: -330px;
      width: 27vw;;
    }

    @media (min-width: $breakpoint-lg) {
      top: -21vw;
      width: 22vw;
    }

    @media (min-width: $breakpoint-xlg) {
      top: -22vw;
      width: 14vw;
    }
  }

  .map-card-close {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    background: white;
    padding: 6px;
    font-size: 17px;
    color: $warm-grey;
    border-radius: 27px;

    @media (min-width: $breakpoint-md) {
      position: absolute;
    }
  }

  .map-card-instagram-image {
    height: 70%;
    min-height: 70%;
    display: flex;
    justify-content: center;

    @media (min-width: $breakpoint-md) {
      height: auto;
      min-height: auto;
    }

    img {
      height: 100%;

      @media (min-width: $breakpoint-md) {
        width: 100%;
      }
    }
  }

  .map-card-caption {
    background: #e5e6e0;
    padding: 5% 5% 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    min-height: 30%;
    box-sizing: border-box;
    width: 100vw;
    bottom: 0;

    @supports (-webkit-overflow-scrolling: touch) {
      padding-bottom: 110px;
    }

    @media screen and (-webkit-min-device-pixel-ratio: 0) { _::-webkit-full-page-media, _:future, :root , .some-class {
      padding-bottom: 110px;
    }}

    @media (min-width: $breakpoint-md) {
      flex: 1 0 25%;
      padding: 10%;
      position: relative;
      width: auto;
    }
  }

  .map-card-caption-profile {
    display: flex;
    align-items: center;

    .profile-image {
      width: 45px;
      height: 45px;
      border-radius: 25px;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      margin-left: 8px;
    }

    .profile-name {
      display: flex;
      align-items: center;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.4px;
      color: $grey-brown;

      .verified-badge {
        width: 10px;
        margin: 0 3px;
      }
    }

    .profile-post-location {
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      font-weight: normal;
      line-height: 1.37;
      color: $grey-brown;
    }
  }

  .map-card-divider {
    width: 30px;
    margin: 20px 20px 5px 6px;
    border: solid 1px;
  }

  .map-card-caption-text {
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: $grey-brown;
  }

  .instagram-link {
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1.4px;
    font-size: 9px;
    color: $grey-brown;

    svg {
      font-size: 14px;
      margin-right: 10px;
    }
  }

  .map-card-map-image {
    width: 100%;
  }

  .map-card-info {
    position: absolute;
    bottom: 20%;
    color: $white;
    width: 100%;
    text-align: center;

    @media (min-width: $breakpoint-md) {
      bottom: 0;
    }

    h3 {
      font-size: 50px;
      font-family: 'DidotLTPro-Bold';
      hyphens: auto;
      padding: 0px 20px;
      font-weight: normal;
      margin: 0;

      @media (min-width: $breakpoint-md) {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 25px, 35px);
      }
    }

    hr {
      width: 14%;
      border: 2px solid white;
    }

    .map-card-link {
      display: inline-block;
      text-decoration: none;
      padding: 12px 16px;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      letter-spacing: 1.4px;
      color: $white;
      border: 1px solid;

      @media (min-width: $breakpoint-md) {
        margin: 8%;
        padding: 10px 12px;
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 8px, 10px);
      }
    }
  }
}
