.newsletter-modal {
  position: absolute;
  z-index: 6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 102vw;
  top: -150vh;
  transition: 800ms top ease-out;

  &.slideDown {
    top: 0;
  }

  @media (min-width: $breakpoint-sm) {
    &.slideDown {
      top: 15%;
    }
  }

  .modal-contents {
    position: relative;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      width: 70%;
    }

    @media (min-width: $breakpoint-lg) {
      width: 45%;
      max-width: 800px;
    }

    img {
      width: 100%;
    }

    .newsletter-modal-close {
      position: absolute;
      top: 10px;
      right: 20px;
      font-size: 26px;
      font-family: sans-serif;
      cursor: pointer;
    }
  }

  .newsletter-form {
    position: absolute;
    top: 4%;
    text-align: center;
    margin: 0 5%;

    @media (min-height: 700px) {
      top: 18%;
    }

    @media (min-width: $breakpoint-sm) {
      top: 10%;
      margin: 0 auto;
      width: 100%;
    }

    h2 {
      font-size: 25px;
      margin: 20px 0 0;
      font-family: 'DidotLTPro-Roman';
      letter-spacing: 0.5px;
      font-weight: 400;
      line-height: 1.3;

      @media (min-height: 700px) {
        font-size: 35px;
      }

      @media (min-width: $breakpoint-sm) {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 24px, 28px);
        margin: 10px 0;
      }
    }

    p {
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      letter-spacing: 1.6px;
      margin: 18px 20px;

      @media (min-width: $breakpoint-sm) {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 12px, 16px);
        margin: 10px 0;
      }
    }

    form {
      @media (min-width: $breakpoint-sm) {
        display: flex;
        width: 50%;
        margin: 25px auto 10px;
      }
    }


    input {
      width: 75%;
      height: 40px;
      border: 1px solid #d0d0d0;
      box-sizing: border-box;
      padding: 5px;
      font-size: 16px;
      font-family: 'Roboto', sans-serif;
    }

    button {
      font-family: 'Roboto', sans-serif;
      letter-spacing: 0.7px;
      display: block;
      width: 75%;
      text-align: center;
      margin: 0 auto;
      padding: 0;
      background: black;
      color: white;
      height: 40px;
      border: none;
      cursor: pointer;

      @media (min-width: $breakpoint-sm) {
        flex-basis: 28%;
      }
    }

    .duplicate-error {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 8px, 12px);
      font-family: 'Roboto', sans-serif;
      letter-spacing: 0.5px;
      position: relative;
      top: 5px;
      display: none;

      &.active {
        display: block;
      }
    }
  }
}