/* Coolors Exported Palette - coolors.co/03b5aa-037971-023436-00bfb3-049a8f */

$black: #2a2a2a;
$white: #ffff;
$dark: #181a2d;
$grey: #a8a8a8;
$dark-grey: #6d5e5e;
$warm-grey: #979797;
$greyish: #b8b8b8;
$pinkish-grey: #c6c6c6;
$grey-brown: #4f4f4f;
$dark-grey-blue: #2d3260;
$brown-grey: #6e6e6e;
$light-grey: #e2e2e2;
$beige: #f2f3ee;
$off-white: #f8f8f6;
$red: #ff6b6b;
