@keyframes fadeInAndUp {
  0% {
    top: 10px;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

.search {
  position: absolute;
  top: -200vh;
  padding: 40px 30px 0 30px;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background: #f3f3f3;
  color: black;
  transition: 500ms top ease-out;
  z-index: 4;
  display: flex;
  flex-direction: column;
  align-items: center;

  &.show {
    top: 60px;

    @media (min-width: $breakpoint-lg) {
      top: 104px;
    }
  }

  h2 {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 43px, 55px);
    font-family: 'DidotLTPro-Roman';
    color: $dark-grey-blue;
    text-align: center;
    margin-top: 40%;
    transition: 500ms margin-top ease-out;

    @media (min-width: $breakpoint-lg) {
      margin-top: 10%;
    }
  }

  &.searching h2 {
    margin-top: 5%;
  }

  .search-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 35px;
    cursor: pointer;

    @media (min-width: $breakpoint-lg) {
      top: 20px;
    }
  }

  .search-input {
    @include fluid-type($breakpoint-sm, $breakpoint-xlg, 35px, 55px);
    font-family: 'DidotLTPro-Italic';
    color: $dark-grey-blue;
    line-height: 1.9;
    border: none;
    border-bottom: 1px solid $grey-brown;
    background: transparent;
    text-align: center;
    max-width: 90%;

    &:focus {
      outline: none;
    }
  }

  .results-container {
    overflow: scroll;

    @media (min-width: $breakpoint-lg) {
      width: 70%;
      margin: 0 auto;
      padding: 80px 0 0;
    }

    .tag-header, .other-header {
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 15px, 20px);
      font-family: 'Roboto', sans-serif;
      color: $grey-brown;
      font-weight: 500;
    }
  }

  .results {
    display: grid;
    grid-template-columns: 40% 40%;
    grid-gap: 10%;
    justify-content: center;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: 30% 30% 30%;
      grid-gap: 5%;
    }

    a {
      position: relative;
      padding: 20px 0;
      text-decoration: none;
      color: gray;
      min-width: 150px;
      animation: fadeInAndUp 500ms ease-out;

      img {
        width: 100%;
      }

      .image-placeholder {
        width: 100%;
        height: 80%;
        background: #e0e0e0;
      }

      h3 {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 15px, 22px);
        font-family: 'DidotLTPro-Roman';
        font-weight: normal;
        color: $grey-brown;
      }
    }

    .article-category {
      display: flex;
      align-items: center;
      width: 200px;
      margin: 10px 0;

      hr {
        flex: 2;
        border: 0.5px solid $grey-brown;
      }

      span {
        flex-grow: 1;
        margin-left: 20px;
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 10px, 14px);
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        color: $grey-brown;
        text-transform: uppercase;
        letter-spacing: 0.8px;
      }
    }
  }

  .tags {
    margin-top: 75px;
    text-align: center;

    @media (min-width: $breakpoint-md) {
      max-width: 40%;
    }

    .tags-title {
      display: block;
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 8px, 14px);
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      color: $grey-brown;
    }

    .tags-list {
      display: block;
      @include fluid-type($breakpoint-sm, $breakpoint-xlg, 19px, 25px);
      font-family: 'DidotLTPro-Bold';
      font-weight: normal;
      color: $grey;
      line-height: 1.5;
      margin: 10px 0;

      .tag {
        @include fluid-type($breakpoint-sm, $breakpoint-xlg, 14px, 17px);
        font-family: 'Roboto';
        font-weight: 400;
        color: #4f4f4f;
        line-height: 1.8;
        letter-spacing: 0.7px;
        margin: 10px 0;
        text-transform: uppercase;
        transition: 200ms color ease;
        cursor: pointer;

        &:hover {
          color: $dark-grey-blue;
        }

        &:after {
          content: '/';
          margin: 0 15px;
          color: $grey;
        }

        &:last-child:after {
          content: '';
        }
      }
    }
  }
}
