<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>A Guy Named Patrick</title>
  <meta name="description" content="A Guy Named Patrick. Curated city guides. New York-based expert on global travel, dining, drinking, fashion, and lifestyle." />

  <meta name="Robots" content="INDEX,ALL" />
  <meta name="YahooSeeker" content="INDEX, FOLLOW" />
  <meta name="msnbot" content="INDEX, FOLLOW" />
  <meta name="googlebot" content="INDEX, FOLLOW" />
  <meta name="allow-search" content="yes" />
  <meta name="revisit-after" content="daily" />
  <meta name="Rating" content="General" />
  <meta name="site" content="https://agnp.co" />
  <meta name="distribution" content="global" />

  <meta name="google-site-verification" content="mEd_C5N2BETgtETQTW-g4CbMCOqkON46PhZ7fVNPfJo" />
  <meta name="google-site-verification" content="0yRs74DSeNzA_QR2WpZ5J8oD8Ikizvewkb6H1me0pRk" />

  <meta name="theme-color" content="#0e5354" />
</head>

<body>
  <div id="reactbody">
  </div>
  <script src="/js/index.js"></script>
</body>

</html>